<p>Tela de usuario</p>

<form style="padding: 10px;">

<!--ID-->

  <div class="form-row">
    <div class="form-group col-md-6">
      <label  for="id">ID</label>
        <input type="text" class="form-control mr-sm-2" id="id"  name="id"   readonly="true" autocomplete="false" [(ngModel)]="usuario.id" >
    </div>
  </div>

<!--Nome-->

<div class="form-row">
  <div class="form-group col-md-6">
    <label  for="nome">Nome</label>
      <input type="text" class="form-control mr-sm-2" id="nome"  name="nome"   autocomplete="false" required="true" [(ngModel)]="usuario.nome">
  </div>
</div>


<!--Login-->

<div class="form-row">
  <div class="form-group col-md-6">
    <label  for="login">E-mal ou Login</label>
      <input type="text" class="form-control mr-sm-2" id="login"  name="login"  placeholder="Login"  autocomplete="false" required="true" [(ngModel)]="usuario.login">
  </div>
</div>

<!--Senha-->

<div class="form-row">
  <div class="form-group col-md-6">
    <label  for="senha">Senha</label>
      <input type="password" class="form-control mr-sm-2" id="senha"  name="senha"  placeholder="Senha"  autocomplete="false" required="true" [(ngModel)]="usuario.senha">
  </div>
</div>

<!--CEP-->

<div class="form-row">
  <div class="form-group col-md-6">
    <label  for="cep">Cep</label>
      <input type="text" class="form-control mr-sm-2" id="cep"  name="cep"  placeholder="Cep"  autocomplete="false"  required="true" [(ngModel)]="usuario.cep">
  </div>
</div>

<!--BOTÕES-->

<div class="form-row">
  <div class="form-group col-md-6">

    <button class="btn btn-outline-primary my-2 my-sm-0" [routerLink]="['/userList']" type="button">Voltar</button>

    <button class="btn btn-outline-warning my-2 my-sm-0 ml-1"  type="button">Novo</button>

    <button class="btn btn-outline-success my-2 my-sm-0 ml-1"  type="button">Salvar</button>

  </div>
</div>



</form>

